@charset "utf-8";
/* CSS Document */

#adp-placemark img, .adp-placemark img {
   display:none;
}

/*This will change the style of the start point on the directions text*/
#adp-placemark {
   font-weight: bold;
   background: #F8F8F8 url(../image/google_maps/home.png) no-repeat 5px center;
   border:none;
   border-top: 1px solid #DBDEE1;
   border-bottom: 1px solid #DBDEE1;
}

/*This will change the style of the end point on the directions text*/
.adp-placemark {
   font-weight: bold;
   background: #F8F8F8 url(../image/google_maps/marker.png) no-repeat 5px center;
   border:none;
   border-top: 1px solid #DBDEE1;
   border-bottom: 1px solid #DBDEE1;
}

/*This will change the style of the text next to the start and end markers on the direcitons*/
.adp-text {
	padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
	vertical-align: middle;
}

#map_canvas img {  
	max-width: none;
}

/*This will change the style of the map. If you don't want the shadow around the map you can change it here.*/
#map_canvas {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}